{% for method_map in method_maps %}
map $request_method {{ method_map.var_name }} {
    {%- for method, target in method_map.methods_to_targets.items() %}
    {{method}} "{{target}}";
    {%- endfor %}
}
{% endfor %}
