[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "scw_serverless"
version = "0.0.1"
requires-python = ">=3.9"
dependencies = [
    "click==8.1.3",
    "PyYAML==6.0",
    "setuptools",
    "requests==2.28.1",
    "typing_extensions",
]

[project.scripts]
srvless = "scw_serverless.cli:main"

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
exclude = ["tests*"]

[tool.setuptools.package-data]
scw_serverless = ["*.py", "*.yml"]

[tool.pylint]
disable = "missing-module-docstring"
max-line-length = 88

[tool.isort]
profile = "black"
