[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "scw_serverless"
version = "0.0.1"
requires-python = ">=3.9"
dependencies = [
    "click >= 8",
    "PyYAML >= 6",
    "scaleway >= 0.2",
    # Requires support for pyproject.toml
    "setuptools >= 61",
    "requests >= 2",
    "typing_extensions; python_version<'3.11'",
]

[project.scripts]
srvless = "scw_serverless.cli:main"

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
exclude = ["tests*"]

[tool.setuptools.package-data]
scw_serverless = ["*.py", "*.yml"]

[tool.pylint]
load-plugins = ["pylint_per_file_ignores"]
disable = "missing-module-docstring"
# Commented Black formatted code
max-line-length = 89
good-names = "i,fp"

[tool.pylint-per-file-ignores]
"/tests/" = "missing-function-docstring,protected-access"
# Sphinx specific
"/docs/" = "invalid-name,redefined-builtin"

[tool.isort]
profile = "black"

[tool.pyright]
include = ["scw_serverless", "examples"]
exclude = ["**/node_modules", "**/__pycache__", "**/package/**"]

[tool.pydocstyle]
# Compatible with Sphinx
convention = "google"
add_ignore = ["D100", "D107"]
