---
name: Integration tests with Pytest

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

permissions:
  contents: read

jobs:
  test:
    runs-on: self-hosted
    container: nikolaik/python-nodejs:python3.10-nodejs18
    steps:
      - uses: actions/checkout@v3

      - name: Install terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false

      - uses: ./.github/actions/setup-serverless-framework

      - uses: ./.github/actions/setup-poetry

      - name: Test with pytest
        working-directory: tests
        run: poetry run pytest integrations -n $(nproc --all) --ignore=integrations/gateway
        env:
          SCW_DEFAULT_ORGANIZATION_ID: ${{ secrets.SCW_DEFAULT_ORGANIZATION_ID }}
          SCW_SECRET_KEY: ${{ secrets.SCW_SECRET_KEY }}
          SCW_ACCESS_KEY: ${{ secrets.SCW_ACCESS_KEY }}
