name: Pytest

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: self-hosted
    container: nikolaik/python-nodejs:python3.10-nodejs18
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Setup node 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Setup terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false
      - name: Install dependencies
        run: |
          pip install --editable .
          if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi
          npm install -g serverless serverless-scaleway-functions
      - name: Test with pytest
        working-directory: tests
        run: pytest test_app.py test_cli.py
        env:
          SCW_ORG_ID: ${{ secrets.SCW_ORG_ID }}
          SCW_SECRET_KEY: ${{ secrets.SCW_SECRET_KEY }}
          SCW_ACCESS_KEY: ${{ secrets.SCW_ACCESS_KEY }}
