---
name: Pytest

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, ready_for_review]

permissions:
  contents: read

jobs:
  test:
    runs-on: self-hosted
    container: python:3.11-bookworm
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-poetry

      - name: Test with pytest
        working-directory: tests
        run: poetry run pytest -s --ignore=integrations
