name: Quality

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: akaihola/darker@1.5.1
        with:
          options: "--check --diff --color --isort"
          src: "scw_serverless"
          version: "1.5.1"
          lint: "flake8,pylint"
